@import './index.scss';
@import './responsive.scss';

$primary: #6e62ee;
$primary-variant: #4247b3;
$secondary: #6bdcc7;
$secondary-variant: #3e8886;
$background: white;
$gray: rgba(255, 255, 255, 0.678);
// NavBar
header {
  background-color: $primary;
  color: white;
}
body {
  padding-bottom: 4em;
  position: relative;
  min-height: 100vh;
}
.nav {
  padding: 0 2em 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid $primary-variant;
  h1 {
    font-size: 4em;
    color: $gray;
  }

  a {
    transition: 0.4s ease;
    background: $primary;
    color: $gray;
    font-size: 18px;
    text-decoration: none;
    border-top: 4px solid $primary;
    border-bottom: 4px solid $primary;
    padding: 10px 0;
    margin-right: 50px;
  }
  a:hover {
    border-top: 4px solid $gray;
    border-bottom: 4px solid $gray;
    padding: 6px 0; 
  }

  button {
    height: 20px;
  }

  svg {
    color: $gray;
    cursor: pointer;
  }
}

// Section
section {
  display: flex;
  justify-content: space-between;
  color: $primary-variant;

  h2 {
    font-size: 3em;
    text-align: center;
    margin: 1em auto;
  }

  h3 {
    text-align: center;
    margin: 1em 0 3em 0;
    font-size: 3em;
  }

  

  .home-left,
  .works-left,
  .about-left {
    width: 15%;
  }

  .home,
  .about,
  .works {
    border-left: 3px solid $primary-variant;
    width: 85%;
    min-height: 100vh;
  }

  .works-projects {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
  
  }

  li {
    background-color: $primary;
    color: $gray;
    list-style: none;
    font-size: 3em;
    border: 2px solid $primary-variant;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
    
    &:hover {
      background-color: white;
      color: $primary;
      border-color: $primary;
      letter-spacing: .1em;
    }
  }

  a {
    color: black;
    width: 30%;
  }

  p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 3em;
  }
}

// Cards
.cards-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 1em auto;

  a {
    border: 2px solid $primary-variant;
    width: 30%;
    border-radius: 5px;
    height: 50%;
  }
}
.card {
  height: 100%;
  h2 {
    background-color: $primary;
    color: $gray;
    font-size: 3em;
    margin-top: 0;
    height: 2em;
    border-bottom: 2px solid $primary-variant;
  }

  h3 {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
}

.icon-cards {
  margin-top: 5em;
  text-align: center;
  svg {
    cursor: pointer;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  text-align: center;
  border-top: 3px solid $primary-variant;
  color: $gray;
  background-color: $primary;
  span {
    color: red;
    margin: 0 5px;
  }
}

// DarkMode

.dark-body {
  transition-duration: 500;
  $primary: #250250;
  $primary-variant: #4247b3;
  $secondary: #6bdcc7;
  $secondary-variant: #6bdcc7;
  $background: rgb(29, 28, 28);
  $gray: rgba(255, 255, 255, 0.678);
  background-color: $background;
  color: rgb(168, 168, 168);

  // NavBar
  header {
    background-color: $primary;
    color: $gray;
  }
  .nav {
    border-bottom: 3px solid $gray;

    a {
      background: $primary;
      color: $gray;
      border-top: 4px solid $primary;
      border-bottom: 4px solid $primary;
    }
    a:hover {
      border-top: 4px solid $gray;
      border-bottom: 4px solid $gray;
    }
  }

  // Section
  section {
    color: $gray;

    .home,
    .about,
    .works {
      border-left: 3px solid $gray;
    }

    li {
      background-color: $primary;
      border: 2px solid $gray;
      &:hover {
        background-color: $gray;
        color: $primary;
        border-color: $primary;
      }
    }

    a {
      color: $primary;
    }
  }

  .cards-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 1em auto;

    a {
      border: 2px solid $gray;
    }
  }
  .card {
    h2 {
      background-color: $primary;
      border-bottom: 2px solid $gray;
    }

    h3 {
      color: $gray;
    }
  }

  footer {
    background-color: $primary;
    border-top: 3px solid $gray;
  }
}

// RESPONSIVE //
@media #{$small} {
}

@media #{$medium} {
}

@media #{$large} {
}

